sudo: false
dist: noble
language: ruby
cache: bundler
rvm:
  - 2.3
  - 2.4
  - 2.5
  - 2.6
  - 2.7
  - 3.0
  - 3.1
  - 3.2
  - 3.3
  - 3.4
env:
  - RAILS_VERSION='~> 4.2.0'
  - RAILS_VERSION='~> 5.0.0'
  - RAILS_VERSION='~> 5.1.0'
  - RAILS_VERSION='~> 5.2.0'
  - RAILS_VERSION='~> 6.0.0'
  - RAILS_VERSION='~> 6.1.0'
  - RAILS_VERSION='~> 7.0.0'
  - RAILS_VERSION='~> 7.1.0'
  - RAILS_VERSION='~> 7.2.0'
  - RAILS_VERSION='~> 8.0.0'
  - RAILS_VERSION='~> 8.1.0'
matrix:
  fast_finish: true
  exclude:
    # Rails 4.2 is for Ruby >=1.9.3, < 2.5.0
    - env: RAILS_VERSION='~> 4.2.0'
      rvm: 2.5
    - env: RAILS_VERSION='~> 4.2.0'
      rvm: 2.6
    - env: RAILS_VERSION='~> 4.2.0'
      rvm: 2.7
    - env: RAILS_VERSION='~> 4.2.0'
      rvm: 3.0
    - env: RAILS_VERSION='~> 4.2.0'
      rvm: 3.1
    - env: RAILS_VERSION='~> 4.2.0'
      rvm: 3.2
    - env: RAILS_VERSION='~> 4.2.0'
      rvm: 3.3
    - env: RAILS_VERSION='~> 4.2.0'
      rvm: 3.4

    # Rails 5.0 is for Ruby >=2.2.2, < 2.5.0
    - env: RAILS_VERSION='~> 5.0.0'
      rvm: 2.5
    - env: RAILS_VERSION='~> 5.0.0'
      rvm: 2.6
    - env: RAILS_VERSION='~> 5.0.0'
      rvm: 2.7
    - env: RAILS_VERSION='~> 5.0.0'
      rvm: 3.0
    - env: RAILS_VERSION='~> 5.0.0'
      rvm: 3.1
    - env: RAILS_VERSION='~> 5.0.0'
      rvm: 3.2
    - env: RAILS_VERSION='~> 5.0.0'
      rvm: 3.3
    - env: RAILS_VERSION='~> 5.0.0'
      rvm: 3.4

    # Rails 5.1 is for Ruby >=2.2.2, < 2.6.0
    - env: RAILS_VERSION='~> 5.1.0'
      rvm: 2.6
    - env: RAILS_VERSION='~> 5.1.0'
      rvm: 2.7
    - env: RAILS_VERSION='~> 5.1.0'
      rvm: 3.0
    - env: RAILS_VERSION='~> 5.1.0'
      rvm: 3.1
    - env: RAILS_VERSION='~> 5.1.0'
      rvm: 3.2
    - env: RAILS_VERSION='~> 5.1.0'
      rvm: 3.3
    - env: RAILS_VERSION='~> 5.1.0'
      rvm: 3.4

    # Rails 5.2 is for Ruby >=2.2.2, < 2.7.0
    - env: RAILS_VERSION='~> 5.2.0'
      rvm: 2.7
    - env: RAILS_VERSION='~> 5.2.0'
      rvm: 3.0
    - env: RAILS_VERSION='~> 5.2.0'
      rvm: 3.1
    - env: RAILS_VERSION='~> 5.2.0'
      rvm: 3.2
    - env: RAILS_VERSION='~> 5.2.0'
      rvm: 3.3
    - env: RAILS_VERSION='~> 5.2.0'
      rvm: 3.4

    # Rails 6.0 is for Ruby >=2.5.0, < 3.0.0
    - env: RAILS_VERSION='~> 6.0.0'
      rvm: 2.3
    - env: RAILS_VERSION='~> 6.0.0'
      rvm: 2.4
    - env: RAILS_VERSION='~> 6.0.0'
      rvm: 3.0
    - env: RAILS_VERSION='~> 6.0.0'
      rvm: 3.1
    - env: RAILS_VERSION='~> 6.0.0'
      rvm: 3.2
    - env: RAILS_VERSION='~> 6.0.0'
      rvm: 3.3
    - env: RAILS_VERSION='~> 6.0.0'
      rvm: 3.4

    # Rails 6.1 is for Ruby >=2.5.0, < 3.5.0
    - env: RAILS_VERSION='~> 6.1.0'
      rvm: 2.3
    - env: RAILS_VERSION='~> 6.1.0'
      rvm: 2.4

    # Rails 7.0 is for Ruby >=2.7.0, < 3.5.0
    - env: RAILS_VERSION='~> 7.0.0'
      rvm: 2.3
    - env: RAILS_VERSION='~> 7.0.0'
      rvm: 2.4
    - env: RAILS_VERSION='~> 7.0.0'
      rvm: 2.5
    - env: RAILS_VERSION='~> 7.0.0'
      rvm: 2.6

    # Rails 7.1 is for Ruby >=2.7.0, < 3.5.0
    - env: RAILS_VERSION='~> 7.1.0'
      rvm: 2.3
    - env: RAILS_VERSION='~> 7.1.0'
      rvm: 2.4
    - env: RAILS_VERSION='~> 7.1.0'
      rvm: 2.5
    - env: RAILS_VERSION='~> 7.1.0'
      rvm: 2.6

    # Rails 7.2 is for Ruby >=3.1.0, < 3.5.0
    - env: RAILS_VERSION='~> 7.2.0'
      rvm: 2.3
    - env: RAILS_VERSION='~> 7.2.0'
      rvm: 2.4
    - env: RAILS_VERSION='~> 7.2.0'
      rvm: 2.5
    - env: RAILS_VERSION='~> 7.2.0'
      rvm: 2.6
    - env: RAILS_VERSION='~> 7.2.0'
      rvm: 2.7
    - env: RAILS_VERSION='~> 7.2.0'
      rvm: 3.0

    # Rails 8.0 is for Ruby >=3.2.0, < 3.5.0
    - env: RAILS_VERSION='~> 8.0.0'
      rvm: 2.3
    - env: RAILS_VERSION='~> 8.0.0'
      rvm: 2.4
    - env: RAILS_VERSION='~> 8.0.0'
      rvm: 2.5
    - env: RAILS_VERSION='~> 8.0.0'
      rvm: 2.6
    - env: RAILS_VERSION='~> 8.0.0'
      rvm: 2.7
    - env: RAILS_VERSION='~> 8.0.0'
      rvm: 3.0
    - env: RAILS_VERSION='~> 8.0.0'
      rvm: 3.1

    # Rails 8.1 is for Ruby >=3.2.0, < 3.5.0
    - env: RAILS_VERSION='~> 8.1.0'
      rvm: 2.3
    - env: RAILS_VERSION='~> 8.1.0'
      rvm: 2.4
    - env: RAILS_VERSION='~> 8.1.0'
      rvm: 2.5
    - env: RAILS_VERSION='~> 8.1.0'
      rvm: 2.6
    - env: RAILS_VERSION='~> 8.1.0'
      rvm: 2.7
    - env: RAILS_VERSION='~> 8.1.0'
      rvm: 3.0
    - env: RAILS_VERSION='~> 8.1.0'
      rvm: 3.1

before_install:
  - gem uninstall -v '>= 2.4' -i $(rvm gemdir)@global -ax bundler || true
  - gem install bundler -v '< 2.4'
