# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will download a prebuilt Ruby version, install dependencies and run tests with Rake
# For more information see: https://github.com/marketplace/actions/setup-ruby-jruby-and-truffleruby

name: RSpec Tests

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      max-parallel: 4
      matrix:
        ruby-version: ["2.5", "2.6", "2.7", "3.0", "3.1", "3.2", "3.3", "3.4"]


        # Rails 6.1 is for Ruby >=2.5.0, < 3.2.0
        # Rails 7.0 is for Ruby >=2.7.0, < 3.5.0
        # Rails 7.1 is for Ruby >=2.7.0, < 3.5.0
        # Rails 7.2 is for Ruby >=3.1.0, < 3.5.0
        # Rails 8.0 is for Ruby >=3.2.0, < 3.5.0
        # Rails 8.1 is for Ruby >=3.2.0, < 3.5.0
        rails-version: ["6.1", "7.0", "7.1", "7.2", "8.0", "8.1"]


        bundler-version: ["latest"]

        include:
          # Rails 4.2 is for Ruby >=1.9.3, < 2.5.0
          - rails-version: "4.2"
            ruby-version: "2.3"
            bundler-version: "1"
          - rails-version: "4.2"
            ruby-version: "2.4"
            bundler-version: "1"

          # Rails 5.0 is for Ruby >=2.2.2, < 2.5.0
          - rails-version: "5.0"
            ruby-version: "2.3"
            bundler-version: "2"
          - rails-version: "5.0"
            ruby-version: "2.4"
            bundler-version: "2"

          # Rails 5.1 is for Ruby >=2.2.2, < 2.6.0
          - rails-version: "5.1"
            ruby-version: "2.3"
            bundler-version: "2"
          - rails-version: "5.1"
            ruby-version: "2.4"
            bundler-version: "2"
          - rails-version: "5.1"
            ruby-version: "2.5"
            bundler-version: "2"

          # Rails 5.2 is for Ruby >=2.2.2, < 2.7.0
          - rails-version: "5.2"
            ruby-version: "2.3"
            bundler-version: "2"
          - rails-version: "5.2"
            ruby-version: "2.4"
            bundler-version: "2"
          - rails-version: "5.2"
            ruby-version: "2.5"
            bundler-version: "2"
          - rails-version: "5.2"
            ruby-version: "2.6"
            bundler-version: "2"

          # Rails 6.0 is for Ruby >=2.5.0, < 3.0.0
          - rails-version: "6.0"
            ruby-version: "2.5"
            bundler-version: "2"
          - rails-version: "6.0"
            ruby-version: "2.6"
            bundler-version: "2"
          - rails-version: "6.0"
            ruby-version: "2.7"
            bundler-version: "2"


        exclude:
          # Rails 6.1 is for Ruby >=2.5.0, < 3.2.0
          - rails-version: "6.1"
            ruby-version: "3.2"
          - rails-version: "6.1"
            ruby-version: "3.3"
          - rails-version: "6.1"
            ruby-version: "3.4"

          # Rails 7.0 is for Ruby >=2.7.0, < 3.5.0
          - rails-version: "7.0"
            ruby-version: "2.5"
          - rails-version: "7.0"
            ruby-version: "2.6"

          # Rails 7.1 is for Ruby >=2.7.0, < 3.5.0
          - rails-version: "7.1"
            ruby-version: "2.5"
          - rails-version: "7.1"
            ruby-version: "2.6"

          # Rails 7.2 is for Ruby >=3.1.0, < 3.5.0
          - rails-version: "7.2"
            ruby-version: "2.5"
          - rails-version: "7.2"
            ruby-version: "2.6"
          - rails-version: "7.2"
            ruby-version: "2.7"
          - rails-version: "7.2"
            ruby-version: "3.0"

          # Rails 8.0 is for Ruby >=3.2.0, < 3.5.0
          - rails-version: "8.0"
            ruby-version: "2.5"
          - rails-version: "8.0"
            ruby-version: "2.6"
          - rails-version: "8.0"
            ruby-version: "2.7"
          - rails-version: "8.0"
            ruby-version: "3.0"
          - rails-version: "8.0"
            ruby-version: "3.1"

          # Rails 8.1 is for Ruby >=3.2.0, < 3.5.0
          - rails-version: "8.1"
            ruby-version: "2.5"
          - rails-version: "8.1"
            ruby-version: "2.6"
          - rails-version: "8.1"
            ruby-version: "2.7"
          - rails-version: "8.1"
            ruby-version: "3.0"
          - rails-version: "8.1"
            ruby-version: "3.1"
    env:
      RAILS_VERSION: "~> ${{matrix.rails-version}}.0"
      COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_TOKEN }}
    steps:
    - uses: actions/checkout@v4
    - name: Set up Ruby
    # To automatically get bug fixes and new Ruby versions for ruby/setup-ruby,
    # change this to (see https://github.com/ruby/setup-ruby#versioning):
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler: ${{ matrix.bundler-version }}
        bundler-cache: true # runs 'bundle install' and caches installed gems automatically
    - name: Run tests
      run: bundle exec rake
    - name: Coveralls Parallel
      uses: coverallsapp/github-action@v2
      with:
        flag-name: run-${{ join(matrix.*, '-') }}
        parallel: true

  finish:
    needs: test
    if: ${{ always() }}
    runs-on: ubuntu-latest
    steps:
    - name: Coveralls Finished
      uses: coverallsapp/github-action@v2
      with:
        parallel-finished: true
